[submodule "TUP2023-Sentry-Framework"]
	path = TUP2023-Sentry-Framework
	url = git@github.com:tup-robomaster/TUP2023-Sentry-Framework.git
[submodule "TUP2023-Sentry-Nav"]
	path = TUP2023-Sentry-Nav
	url = git@github.com:tup-robomaster/TUP2023-Sentry-Nav.git
[submodule "TUP-Vision-2023-Based"]
	path = TUP-Vision-2023-Based
	url = git@github.com:tup-robomaster/TUP-Vision-2023-Based.git
[submodule "JsonFileBased_RobotDecision"]
	path = JsonFileBased_RobotDecision
	url = git@github.com:tup-robomaster/JsonFileBased_RobotDecision.git
[submodule "TUP2023-Sentry-Perception"]
	path = TUP2023-Sentry-Perception
	url = git@github.com:tup-robomaster/TUP2023-Sentry-Perception.git
